.nav-tabs {
	border-bottom: 0px;
}

.with-nav-tabs .panel-heading {
	padding-bottom: 0px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}

.with-nav-tabs .panel-heading ul {
	margin-bottom: -2px;
}

.with-nav-tabs .panel-heading a {
	color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #337ab7;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.with-nav-tabs .panel-heading a:hover {
	color: #337ab7;
	background-color: #fff;
}

#delete-confirmation-modal .modal-header {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}