table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px !important;
}

td {
	text-align: -webkit-center !important;
    vertical-align: middle !important;
    font-weight: 700 !important;
}

table img, table embed {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    height: 50px;
}

table img:hover, table embed:hover {
	cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.btn-group-sm>.btn, .btn-sm {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#show-image-modal .modal-header, #pdf-modal .modal-header {
	background-color: #337ab7;
    color: #fff;
}

#delete-pr-modal .modal-header, #notification-modal .modal-header {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.received_status {
    color: #0088cc
}

.received {
    background-color: #0088cc;   
}

.forwarded_communication {
    color: #28a745;
}

.communications {
    background-color: #28a745;   
}

.forwarded_medical_supplies { 
    color: #dc3545; 
}

.medical_supplies {
    background-color: #dc3545; 
}

.forwarded_general_merchendise { 
    color: #ffc107; 
}

.general_merchendise {
    background-color: #ffc107; 
}

.legend li { 
    float: left; 
    margin-right: 10px; 
    list-style: none !important;
}

.legend span { 
    border: 1px solid #ccc; 
    float: left; 
    margin: 2px; 
    width: 15px;
    height: 15px;
}
