html {
    font-family: 'Lato';
}

nav {
    border-radius: 0px !important;
    background-color: #0088cc !important;
    border-bottom: solid 3px #fff !important;
}

nav a {
    color: #fff !important;
}

nav a {
    margin-right: 5px;
}

nav a:hover, nav a.active {
    color: #08c !important;
    background-color: #fff !important;
}

a {
    text-decoration: none !important;
}

.modal-dialog {
    padding-top:5%;
}

.modal-content {
    height: 100% !important;
    overflow:visible;
}

.modal-body {
    height: 80%;
    overflow: auto;
}

#img_modal .modal-header, #pdf_modal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #337ab7;
    color: #ffffff;
}

.img_path_clickable:hover {
    cursor: pointer;
    color: #337ab7;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    vertical-align: middle;
    text-align: center;
    font-size: 12px !important;
}

th {
    vertical-align: middle !important;
}

table tbody tr td, table thead tr th {
	text-align: center;
}

.panel-heading {
	font-weight: 700;
}

#add-or-btn-container {
	text-align: right;
}

.nopadding {
	padding: 0px !important;
}

.nopadding-left {
	padding-left: 0px !important;
}

.nopadding-right {
	padding-right: 0px !important;
}

.nopadding-top {
	padding-top: 0px !important;
}

.nopadding-bottom {
	padding-bottom: 0px !important;
}

.date-container input{
	text-align: center;
}

.bootstrap-select button {
    color: #fff !important;
}

.dropdown-menu.open {
	border-color: #337ab7;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

.dropdown-menu > li:focus, .dropdown-menu > li:hover {
	background: #337ab7 !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
}

#date-container .dropdown-menu.open {
	width: 10% !important;
}

#date-container ul {
	overflow-x: hidden !important;
}

.dropdown-toggle span {
	text-align: center !important;
}

.datepicker table tr td span {
    padding-left: 5px !important;
}

.datepicker table tr td span:hover {
    background: #0088cc;
    color: #fff;
}

#add-or-btn-container {
	margin-top: 40px;
}

.file-preview {
    padding: 25px;
}

#kvFileinputModal .modal-content {
    border: 1px solid #204d74;
}

#kvFileinputModal .modal-header {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#kvFileinputModal .modal-title {
	font-weight: 700;
}

.kv-zoom-actions .btn-close {
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.kv-zoom-actions .btn-close:hover {
	color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.file-zoom-dialog .kv-zoom-title {
    font-weight: 700;
    color: #337ab7;
}

.file-preview .fileinput-remove {
    top: 10px;
    right: 10px;
}

.text-danger {
	color: #ff0700;
	font-weight: 700;
}

.file-upload-indicator, .kv-file-upload {
    display: none !important;
}

.theme-explorer .explorer-frame .kv-file-content {
    width: 100px !important;
    height: 100px !important;
}

.theme-explorer .explorer-caption {
    color: #337ab7;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    margin-top: 20px;
}

thead, tbody {
    font-size: 12px;
}


@media only screen and (max-width: 1024px) {
    .modal-dialog {
        padding-top: 20%;
    }
    table {
        font-size: 12px;
    }
    .table-btn-container {
        display: inline-flex;
    }
    .table-btn-container .btn {
        margin-top: 20px;
    }
}