.top-content {
     margin-top: 0 !important; 
}

.inner-bg {
    padding: 80px 0 170px 0 !important;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 15px;
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    text-align: right;
    opacity: 0.3;
}

.form-control {
    height: 50px;
    border-radius: 0px;
    font-size: 16px;
}