table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px !important;
}

td {
	text-align: -webkit-center !important;
    vertical-align: middle !important;
    font-weight: 700 !important;
}

table img, table embed {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    height: 50px;
}

table img:hover, table embed:hover {
	cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.btn-group-sm>.btn, .btn-sm {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#show-image-modal .modal-header, #pdf-modal .modal-header {
	background-color: #337ab7;
    color: #fff;
}

#delete-pr-modal .modal-header, #notification-modal .modal-header {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
}

.received_status {
    color: #0088cc
}

.received {
    background-color: #0088cc;   
}

.forwarded_status {
    color: #5cb85c;
}

.forwarded {
    background-color: #5cb85c;   
}

.expired {
    background-color: #ff0000;
}

.expired_status {
    color: #ff0000;
}

.legend { 
    list-style: none; 
}

.legend li { 
    float: left; margin-right: 10px; 
}

.legend span { 
    border: 1px solid #ccc; 
    float: left; 
    margin: 2px; 
    width: 15px;
    height: 15px;
}

.nav-tabs {
    border-bottom: 0px;
}

.with-nav-tabs .panel-heading {
    padding-bottom: 0px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}

.with-nav-tabs .panel-heading ul {
    margin-bottom: -2px;
}

.with-nav-tabs .panel-heading a {
    color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #337ab7;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.with-nav-tabs .panel-heading a:hover {
    color: #337ab7;
    background-color: #fff;
}

#supplier_info {
    border: 2px solid #337ab7;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#supplier_documents label {
    text-align: left !important;
}

.lane {
    margin-top: 15px;
}

#supplier_documents .form-group {
    border: 2px solid #337ab7;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-bottom: 25px;
}

.numbering {
    color: #fff;
    background: #337ab7 !important;
    border: solid 2px #0088cc;
    border-radius: 20px !important;
    margin-top: 5px;
    width: 25px;
}

